#title{
    color:#4f5b66;
}
hr{
    border-color: darkgrey;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    color:#4f5b66
}
#searcher{
    border-color: #4f5b66;
    background-color: whitesmoke;
}

#searchbox{
    width: 50%;
    margin: 0 auto 20px auto;
}
.btn-default{
    color: #333;
    background-color:whitesmoke;
    border-color:#4f5b66;
}
.btn-default:hover{
    background-color:grey;
}
.form-control:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px grey;;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px grey;
}
.well{
    background-color:white;
    margin: 0 auto 20px auto
}
#result{
    margin:20px 100px;
}